body {
	scroll-behavior: smooth;
}

.vh-100 {
    min-height: 100vh;
}

.portrait-image{
	height: 75vw;
	width: 75vw;
	min-width: 100px;
	min-height: 100px;
	max-width: 300px;
	max-height: 300px;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.profile-button{
	font-size: 5em;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
}

.profile-button:visited{
	color: #FFFFFF;
}

.text-muted{
	color: #A9A9A9		 !important;
}

.project-preview{
	position: relative;
}

.project-preview-img{
	width: 100%;
	border-radius: 3px;
}

.card-btn{
	width: 8em;
}
